@charset "UTF-8"; 

@media screen and (min-width: 300px) and (max-width: 992px){

    section.conteudo {
        background-color: #020425;
        width: 95vw;
        margin: auto;
        margin-top: 10px;
    }    
    
    section.img-filme {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 50%;
    }

    section > h1 {
        color: #ffffff;
        font-family: var(--fonte-filme);
        font-weight: 800;
        font-size: 3.6em;
        padding-top: 350px;
        padding-left: 20px;
    }

    div.play-info {
        font-weight: 700;
        border-radius: 5px;
        padding: 3px;
        margin-top: 10px;
        margin-left: 20px;
        display: inline-flex;
    }

    h2{
        color: #ffffff;
        font-family: var(--fonte-sinopse);
        font-weight: lighter;
        padding: 20px;
        padding-top: 100px;
        padding-left: 20px;
        margin-top: 10px;
    }

    p{
        color: #ffffff;
        font-family: var(--fonte-sinopse);
        text-align: justify;
        line-height: 1.7;
        min-width: 300px;
        max-width: 800px;
        padding: 5px;
        margin: auto;
    }
}

@media screen and (min-width: 992px) and (max-width: 1280px) {

    section.img-filme {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 60%;
        border-radius: 20px 20px 0px 0px;
    }

    section > h1 {
        color: #ffffff;
        font-family: var(--fonte-filme);
        font-weight: 800;
        font-size: 3.6em;
        text-shadow: 2px 2px 3px #0000009c;
        padding-top: 250px;
        padding-left: 20px;
    }

    div.play-info {
        background-color: #f5f5f580;
        font-weight: 700;
        border-radius: 5px;
        padding: 3px;
        margin-top: 10px;
        margin-left: 20px;
        display: inline-flex;
    }

    p{
        color: #ffffff;
        font-family: var(--fonte-sinopse);
        text-align: justify;
        line-height: 1.9;
        min-width: 300px;
        max-width: 900px;
        padding: 5px;
        margin: auto;
    }
}